<!--
@title index.html.erb
@author The Stake Drivers
@description   --Drinks HTML page.
-->

<!DOCTYPE html> <!-- BEGINNING OF PROGRAM -->
<head>
	<title>EZ Eats - Drinks</title> <!-- Title of page -->
	<%= render 'foods/style' %>
</head>

<body class="drinks-body">
    <%= render 'foods/header' %>
    <main>
        <div class="boxedblue"><h2>&diams; FIND DRINK RECIPES &diams;<h2></div>
        <form class= "formdrink"> <!-- CLASS for drink form -->
            <div class= "formtdrink"> <!-- CLASS for left half of form -->
                <p id="pheading">ENTER DRINK INGREDIENTS HERE:</p>
            </div>
            <div class= "formbdrink"> <!-- CLASS for right half of form -->
                <p id="pheading">RESULTS:</p>
            </div>
        </form>
    </main>
    <%= render 'foods/foot' %>
</body>
