    <header>
        <h1 class = "site-title">EZ EATS</h1> <!-- Main content of page -->
        <ul class = "nav"> <!-- CLASS for horizontal nav bar on top of page -->
            <li><%= link_to 'HOME' , controller: 'home' %></li>
            <li><%= link_to 'FOOD' , controller: 'foods' %></li>
            <li><%= link_to 'DRINKS' , controller: 'drinks' %></li>
            <li><%= link_to 'CREATE' , new_food_path %></li>
        </ul>
    </header> 