
<!--start of experimental search -->
<%= form_tag(foods_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Foods" %>
<%= submit_tag "Search", :name => nil %>
<% end %>

<% @foods.each do |f| %>
  <p>
    <%= f.name %>
  </p>
<% end %>
<!--end of experimental search -->
