<!--
@title new.html.erb
@author The Stake Drivers
@description   --Create HTML page.
-->

<!DOCTYPE html> <!-- BEGINNING OF PROGRAM -->
<head>
	<title>EZ Eats - Create</title> <!-- Title of page -->
	<%= render 'style' %> <!-- RENDERS fonts and stylesheet from partial. -->
</head>

<body class="create-body"> <!-- CLASS for body of page. -->
    <%= render 'header' %>
    <main>
        <div class="boxedblue"><h2>&diams; CREATE A RECIPE &diams;<h2></div>
		<%= render 'newFood' %> <!-- RENDERS new recipe creation form. -->
    </main>
    <%= render 'foot' %> <!-- RENDERS all footer info. -->
</body>
