<!--
@title index.html.erb
@author The Stake Drivers
@description   --Contact HTML page.
-->

<!DOCTYPE html> <!-- BEGINNING OF PROGRAM -->
<head>
	<title>EZ Eats - Contact</title> <!-- Title of page -->
	<%= render 'foods/style' %> <!-- RENDERS fonts and stylesheet from partial. -->
</head>

<body class="contact-body"> <!-- CLASS for body of page. -->
    <%= render 'foods/header' %>
    <main>
        <p id="contact"> &diams; CONTACT US! &diams;<br>
            Customer Service #: 704-867-5309<br>
            Email us at EZeatsVerified@gmail.com<br>
            Address: 9201 University City Blvd, Charlotte NC 28223</p>
    </main>
    <%= render 'foods/foot' %> <!-- RENDERS all footer info. -->
</body>
