
<h1>EZ Eats</h1>
<P>Contact</P>
<P>Customer Service #: xxxx-xxxx</P>
<P>Email us at EZeatsVerified@gmail.com</P>
<P>Address: 9201 University City Blvd, Charlotte NC 28223</P>
<%= link_to 'Home ' , controller: 'home' %>