/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/**
@author The Stake Drivers
@description   --Since CSS pages can get chaotic, I usually keep everything alphabetical.   -Jake M
**/

a { /*Turns off link underlines. ALL PAGES*/
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-family: 'Just Another Hand', cursive;
}

.contact-body { /*Body background. CONTACT PAGE*/
    background-image: url("https://static.pexels.com/photos/257794/pexels-photo-257794.jpeg");
    background-color: #000000;
    width: 100%;
    min-height:100%;
    background-size: cover; 
    position: fixed;
    background-repeat: no-repeat;
    margin: auto;
    padding:0;
}

#contact { /*Contact info ID for main in CONTACT PAGE.*/
    padding-top: 0px;
    text-align: center;
    font-family: 'Just Another Hand', cursive;
    font-weight: bold;
    font-size: 60px;
}


.create-body { /*Body background. CREATE PAGE*/
    background-image: url("https://static.pexels.com/photos/268328/pexels-photo-268328.jpeg");
    background-color: #000000;
    width: 100%;
    min-height:100%;
    background-size: cover; 
    position: fixed;
    background-repeat: no-repeat;
    margin: auto;
    padding:0;
}

.drinks-body { /*Body background. DRINKS PAGE*/
    background-image: url("https://static.pexels.com/photos/6290/alcohol-party-glass-table.jpg");
    background-color: #000000;
    width: 100%;
    min-height:100%;
    background-size: cover; 
    position: fixed;
    background-repeat: no-repeat;
    margin: auto;
    padding:0;
}



.foods-body { /*Body background. FOODS PAGE*/
    background-image: url("https://static.pexels.com/photos/568370/pexels-photo-568370.jpeg");
    background-color: #000000;
    width: 100%;
    min-height:100%;
    background-size: cover; 
    position: fixed;
    background-repeat: no-repeat;
    margin: auto;
    padding:0;
}

footer { /*Centers footer text and defaults font and size. ALL PAGES*/
    text-align: center;
    font-family: 'Just Another Hand', cursive;
    background-color: #FBA100;
    opacity: 0.95;
    font-size: 30px;
    color: white;
    font-weight: normal;
    text-shadow: 2px 2px #000000;
    font-style: italic;
}

footer a:hover{ /*Italicizes 'Contact Us' in footer when hovered over by mouse.*/
    font-style: normal;
}

header { /*Heading background color and 5% transparency.*/
    background-color: #FBA100;
    opacity: 0.95;
}

.home-body { /*Body background. HOME PAGE*/
    background-image: url("https://static.pexels.com/photos/326279/pexels-photo-326279.jpeg");
    background-color: #000000;
    width: 100%;
    min-height:100%;
    background-size: cover; 
    position: fixed;
    background-repeat: no-repeat;
    margin: auto;
    padding:0;
}

input[type=text] { /*Default text box style.*/
    width: 170px;
    background-color: black;
    color: white;
    -webkit-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

input[type=text]:focus { /*When the input field gets focus, change its width to 80%.*/
    width: 80%;
}

main { /*Attributes regarding main content space of page. EVERY PAGE*/
    background-color: #ffff99;
    border-style: groove;
    border: 5px solid brown;
    opacity: 0.95;
    height: 100%;
    width: 90%;
    margin: auto;
    box-shadow: 2px 2px 5px black;
    font-family: 'Fira Sans', sans-serif;
}

.nav { /*Test color overlay.*/
    overflow: hidden;
    background-color: #6BBAA7;
    width: 100%;
    text-shadow: 2px 2px #000000;
}

.nav li { /*Text formatting for list elements in nav bar.*/
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
    text-decoration: none;
    font-size: 40px;
}

.nav li:hover { /*Color of menu item when hovered over by mouse.*/
    background-color: #a8d6cb;
    color: black;
    content: '»';
    transition: 0.25s;
}

.search-body { /*Body background. SEARCH PAGE*/
    background-image: url("https://static.pexels.com/photos/8717/food-pot-kitchen-cooking.jpg");
    background-color: #000000;
    width: 100%;
    min-height:100%;
    background-size: cover; 
    position: fixed;
    background-repeat: no-repeat;
    margin: auto;
    padding:0;
}

.site-title { /*Font size and type for app title. ALL PAGES */
    text-align: center;
    font-family: 'Just Another Hand', cursive;
    font-style: normal;
    font-size: 100px;
    color: white;
    margin-top: 10px;
    margin-bottom: -32px;
    text-shadow: 2px 2px #000000;
}
