/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/**
@author The Stake Drivers
@description   --Since CSS pages can get chaotic, I usually keep everything alphabetical.   -Jake M
**/

/*Turns off link underlines. ALL PAGES*/
a { 
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-family: 'Just Another Hand', cursive;
}

/*Body background. CONTACT PAGE*/
.contact-body { 
    background-image: url("https://static.pexels.com/photos/257794/pexels-photo-257794.jpeg");
    background-color: #000000;
    width: 100%;
    min-height:100%;
    background-size: cover; 
    position: fixed;
    background-repeat: no-repeat;
    margin: auto;
    padding:0;
}

/*Contact info ID for main in CONTACT PAGE.*/
#contact { 
    padding-top: 0px;
    text-align: center;
    font-family: 'Just Another Hand', cursive;
    font-weight: bold;
    font-size: 60px;
}

/*Body background. CREATE PAGE*/
.create-body { 
    background-image: url("https://static.pexels.com/photos/268328/pexels-photo-268328.jpeg");
    background-color: #000000;
    width: 100%;
    min-height:100%;
    background-size: cover; 
    position: fixed;
    background-repeat: no-repeat;
    margin: auto;
    padding:0;
    overflow-y: auto;
}

/*Body background. DRINKS PAGE*/
.drinks-body { 
    background-image: url("https://static.pexels.com/photos/6290/alcohol-party-glass-table.jpg");
    background-color: #000000;
    width: 100%;
    min-height:100%;
    background-size: cover; 
    position: fixed;
    background-repeat: no-repeat;
    margin: auto;
    padding:0;
}

.foodButton {
    background:url(./images/but.png) no-repeat;
    cursor:pointer;
    border:none;
    width:100px;
    height:100px;
}

.foodButton:active {
    background:url(./images/but2.png) no-repeat;
}

/*Body background image and settings. FOODS PAGE*/
.foods-body {
    background-image: url("https://static.pexels.com/photos/568370/pexels-photo-568370.jpeg");
    background-color: #000000;
    width: 100%;
    min-height:100%;
    background-size: cover; 
    position: fixed;
    background-repeat: no-repeat;
    margin: auto;
    padding:0;
}

/*Centers footer text and defaults font and size. ALL PAGES*/
footer { 
    text-align: center;
    font-family: 'Just Another Hand', cursive;
    background-color: #FBA100;
    opacity: 0.95;
    font-size: 30px;
    color: white;
    font-weight: normal;
    text-shadow: 2px 2px #000000;
    font-style: italic;
}

/*Normalizes 'Contact Us' in footer when hovered over by mouse.*/
footer a:hover{ 
    font-style: normal;
}

/*Form specifications for CREATE PAGE*/
.formcreate {
    margin-left: 50px;
}

/*Left half form specifications. FOODS, DRINKS PAGES*/
.formleft {
    width: 40%;
    border:1px solid blue;
    margin-left: 50px;
    display: inline-block;
}

/*Right half form specifications. FOODS, DRINKS PAGES*/
.formright {
    width: 40%;
    border:1px solid red;
    display: inline-block;
    margin-left: 100px;
}

/*Heading background color and 5% transparency.*/
header { 
    background-color: #FBA100; /*Orange*/
    opacity: 0.95;
}

/*Body background image and settings. HOME PAGE*/
.home-body {
    background-image: url("https://static.pexels.com/photos/326279/pexels-photo-326279.jpeg");
    background-color: #000000;
    width: 100%;
    min-height:100%;
    background-size: cover; 
    position: fixed;
    background-repeat: no-repeat;
    margin: auto;
    padding:0;
}

 /*Default text box style.*/
input[type=text] {
    width: 170px;
    background-color: black;
    color: white;
    -webkit-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

/*When the input field gets focus, change its width to 80%.*/
input[type=text]:focus { 
    width: 80%;
}

/*Attributes regarding main content space of page. EVERY PAGE*/
main { 
    background-color: #F2F2F2;
    border-style: groove;
    border: 5px solid #57D92B;
    opacity: 0.95;
    transition: 1s opacity;
    height: 100%;
    width: 93%;
    margin: auto;
    box-shadow: 2px 2px 5px black;
    font-family: 'Fira Sans', sans-serif;
}

/*h2 element stylings within main.*/
main h2 {
    text-align: left;
    font-family: 'Just Another Hand', cursive;
    font-size: 70px;
    margin-left: 50px;
}

/*Text and color alteration for nav bar.*/
.nav { 
    overflow: hidden;
    background-color: #6BBAA7; /*Blue*/
    width: 100%;
    text-shadow: 2px 2px #000000;
}

/*Text formatting for list elements in nav bar.*/
.nav li { 
    float: none;
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    margin: 0 auto;
    width: 23.5%;
}

/*Color of menu item when hovered over by mouse.*/
.nav li:hover { 
    background-color: #a8d6cb;
    transition: 0.25s;
}

/*Body background image and settings. SEARCH PAGE*/
.search-body { 
    background-image: url("https://static.pexels.com/photos/8717/food-pot-kitchen-cooking.jpg");
    background-color: #000000;
    width: 100%;
    min-height:100%;
    background-size: cover; 
    position: fixed;
    background-repeat: no-repeat;
    margin: auto;
    padding:0;
}

/*Font size and type for app title. ALL PAGES */
.site-title { 
    text-align: center;
    font-family: 'Just Another Hand', cursive;
    font-style: normal;
    font-size: 100px;
    color: white;
    margin-top: 10px;
    margin-bottom: -32px;
    text-shadow: 2px 2px #000000;
}

/*Submit button attributes. ALL PAGES*/
.submit {
    background-color: #FBA100; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 44.5%;
    margin-right: 50%;
    font-family: 'Just Another Hand', cursive;
    text-shadow: 2px 2px #000000;
    box-shadow: 2px 2px 10px #000000;
    border-radius: 4px;
}