/**
@title home.scss
@author The Stake Drivers
@description   --Since CSS pages can get chaotic, I usually keep everything alphabetical.   -Jake M
**/

a { //Turns off link underlines.
    text-decoration: none;
}

body { //Test for body background color.
    background-color: yellow;
}

footer { //Centers footer text.
    text-align: center;
}

footer a:hover{ //Italicizes 'Contact Us' in footer when hovered over by mouse.
    font-style: italic;
}

.nav { //Test color overlay.
    overflow: hidden;
    background-color: #333;
}

.nav li { //Text formatting for list elements in nav bar.
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.nav li.active { //Color of active menu item.
    background-color: #4CAF50;
    color: white;
}

.nav li:hover { //Color of menu item when hovered over by mouse.
    background-color: #ddd;
    color: black;
}


body{
    background-color: DarkOrange;
}

h1{
    font-size: 40px;
    text-align: center;
}

ul{
    list-style-type: none;
}

li{
	float: left;
}

li a{
	display: block;
	color: red;
	text-decoration: underline;
	font-style: italic;
	text-align: center;
	font-size: 36px;
	padding: 16px 18px;
}
li a:hover{
	background-color: darkred;
}
.active{
	background-color:red;
}
