// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a { //Turns off link underlines.
    text-decoration: none;
}

body { //Test for body background color.
    background-color: yellow;
}

footer { //Centers footer text.
    text-align: center;
}

footer a:hover{ //Italicizes 'Contact Us' in footer when hovered over by mouse.
    font-style: italic;
}

.nav { //Test color overlay.
    overflow: hidden;
    background-color: #333;
}

.nav li { //Text formatting for list elements in nav bar.
    float: left;
    display: block;
    color: #F0FFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.nav li.active { //Color of active menu item.
    background-color: #4CAF50;
    color: white;
}

.nav li:hover { //Color of menu item when hovered over by mouse.
    background-color: #ddd;
    color: black;
}
h2{
    color: black;
    text-align: center;
}